:root {
    --background: #333a45;
    --backgroundGradient: #939eae;
    --testText: #939eae;
    --currentWord: rgb(255, 255, 255);
    --correct: #f44c7f;
    --row: #f44c7f;
    --rowBackground: #2a2f36;
    --incorrect: #828aff;
  }