:root {
    --background: #afcbdd;
    --backgrounndGradient: #f6fafc;
    --testText: #85a5bb;
    --currentWord: #f6fafc;
    --row: #7693a7;
    --rowBackground: #7a99ad;
    --correct: #7693a7;
    --incorrect: #ba8591;
  }