:root {
    --background: #EEEBE2;
    --backgroundDark: #d5d0c1;
    --testText: #99947F;
    --currentWord: #FFFFFF;
    --correct: #080909;
    --row: #99947F;
    --rowBackground: #8c8876;
    --incorrect: #C87E74;
  }
