:root {
    --background: #EEEBE2;
    --backgroundGradient: none;
    --testText: #99947F;
    --currentWord: #FFFFFF;
    --correct: #7FA480;
    --row: #99947F;
    --incorrect: #C87E74;
  }