:root {
    --background: #eee6e2;
    --backgroundGradient: none;
    --testText: #998d7f;
    --currentWord: #FFFFFF;
    --correct: #080909;
    --row: #eee6e2;
    --rowBackground: #8c8876;
    --incorrect: #4c302d;
  }
