:root {
    --background: #e2caea;
    --backgroundDark: #cfb5d8;
    --testText: #480c51;
    --currentWord: rgb(255, 255, 255);
    --correct: #9774aa;
    --row: #9774aa;
    --rowBackground: #8c6a9e;
    --incorrect: #ab395f;
  }