:root {
    --background: #1B2334;
    --backgrounndGradient: #5C7DA5;
    --testText: #5C7DA5;
    --currentWord: #D7DCDA;
    --row: #ADD7FF;
    --correct: #ADD7FF;
    --rowBackground: rgb(117, 147, 211);
    --incorrect: #962F7E;
  }
