:root {
    --background: #7b9c98;
    --backgroundDark: #495755;
    --testText: #495755;
    --currentWord: #FFFFFF;
    --row: #495755;
    --rowBackground: #404a48;
    --correct: #dde7e8;
    --incorrect: #F6C9B4;
  }
