:root {
    --background: #7b9c98;
    --backgroundDark: #495755;
    --backgrounndGradient: none;
    --testText: #495755;
    --currentWord: #FFFFFF;
    --row: #495755;
    --rowBackground: #404a48;
    --correct: #7b9c98;
    --incorrect: #dde7e8;
  }
