:root {
    --background: #FF9869;
    --backgrounndGradient: none;
    --testText: #FF661F;
    --currentWord: #FFFFFF;
    --row: #ffceb7;
    --rowBackground: #ffad88;
    --correct: #b64d1c;
    --incorrect: #8356ff;
  }
