:root {
    --background: #FF9869;
    --backgroundDark: #e9875a;
    --testText: #FF661F;
    --currentWord: #FFFFFF;
    --row: #ffceb7;
    --rowBackground: #ffad88;
    --correct: #b64d1c;
    --incorrect: #c93c37;
  }
