:root {
    --background: #010203;
    --backgroundGradient: none;
    --testText: #5E676E;
    --currentWord: #5E676E;
    --row: #383E42;
    --rowBackground: #131517;
    --correct: #383E42;
    --incorrect: #B3344B;
  }
