:root {
    --background: #eeeeee;
    --backgroundDark: #d5cdcd;
    --testText: #B2B2B2;
    --currentWord: #404040;
    --correct: #463e3e;
    --row: #cbcbcb;
    --rowBackground: #b0b0b0;
    --incorrect: #be6969;
  }