:root {
  --background: #1e1e1e;
  --backgroundDark: #161616;
  --testText: #d4d4d4;
  --currentWord: #ffffff;
  --correct: #ce9178;
  --row: #49423e;
  --rowBackground: #35312f;
  --incorrect: #474747;
}