:root {
    --background: #FEC8CD;
    --backgroundDark: #FEC8CD;
    --backgroundGradient: none;
    --testText: #A30000;
    --currentWord: #ffffff;
    --correct: #ff8086;
    --row: #e6aaad;
    --rowBackground: #cf999c;
    --incorrect: #2E7DDE;
  }
