:root {
    --background: #FEC8CD;
    --backgroundDark: #FEC8CD;
    --backgroundGradient: none;
    --testText: #ba5d62;
    --currentWord: #ffffff;
    --correct: #db999c;
    --row: #e6aaad;
    --rowBackground: #cf999c;
    --incorrect: #964348;
  }
