:root {
    --background: #124883;
    --backgroundGradient: #124883;
    --testText: #0f2d4e;
    --currentWord: #D7DCDA;
    --correct: #6a9fd8;
    --row: #0f2d4e;
    --rowBackground: #0d2238;
    --incorrect: #f89787;
  }
